 body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    
}
/*
#container{
    height:550px;
    width: 250px;
    border:2px solid black;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#circle1{
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 50%;
}
#circle2{
    height: 150px;
    width: 150px;
    background-color: yellow;
     border-radius: 50%;
}
#circle3{
    height: 150px;
    width: 150px;
    background-color: green;
     border-radius: 50%;
} */
 /* #loader{
    height: 200px;
    width: 200px;
    border:10px solid blue;
    border-top:8px solid black;
    border-radius: 50%;
    animation: spin 1s ease-in infinite;
    
 }
 @keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
 } */
  /* #btn1:hover{
    background-color: blue;
  }
  #btn2:active{
    background-color: red;
  }
  #btn3:focus{
    background-color: aqua;
  } */

  /* a:hover { color: red; }
a:visited { color: purple; }
input:focus { border: 2px solid green; }
input:invalid { border: 2px solid red; }
li:first-child { font-weight: bold; }
li:nth-child(3) { color: blue; } */

#fb{
    font-size: 150px;
    color:blue;
}
#yt{
    font-size: 150px;
    color:red;
}
